<!-- begin footer -->
	<footer class="footer">
		<!-- begin l-container -->
			<div class="l-container">
				<!-- begin footer__in -->
					<div class="footer__in">
						<div class="footer__info">
							<h5 class="title title_h5 footer__title">about us</h5>
							<p class="footer__textual">
								 Spacewolff is an online marketplace connecting advertisers and owners of ad space. Small and large businesses, individuals, publishers, and content creators can create and sell space across multiple channels. Advertisers and can easily search and sort ad space to identify channels that reach their specific target market and place ads directly through the site. Spacewolff was founded in 2016 and is based in Miami, Florida.
							</p>
						</div>
						<!-- begin list -->
							<ul class="list">
								<li><h5 class="title title_h5 footer__title">spacewolff</h5></li>
								<li class="list__item"><a class="footer__link" href="#">Marketplace</a></li>
								<li class="list__item"><a class="footer__link" href="#">About Company</a></li>
								<li class="list__item"><a class="footer__link" href="#">FAQs</a></li>
								<li class="list__item"><a class="footer__link" href="#">Blog</a></li>
								<li class="list__item"><a class="footer__link" href="#">Contact</a></li>
							</ul>
						<!-- end list -->
						<!-- begin list -->
							<ul class="list">
								<li><h5 class="title title_h5 footer__title">legal</h5></li>
								<li class="list__item"><a class="footer__link" href="#">Privacy Policy</a></li>
								<li class="list__item"><a class="footer__link" href="#">Terms of Use</a></li>
								<li class="list__item"><a class="footer__link" href="#">Payment and Refund Policy</a></li>
							</ul>
						<!-- end list -->
						<!-- begin list -->
							<ul class="icon-list footer__icons">
								<li><h5 class="title title_h5 footer__title">follow us</h5></li>
								<li class="icon-list__item">
									<a class="footer__icon" href="#">
										{{ mixins.icon('facebook') }}
									</a>
								</li>
								<li class="icon-list__item">
									<a class="footer__icon" href="#">
										{{ mixins.icon('twitter') }}
									</a>
								</li>
								<li class="icon-list__item">
									<a class="footer__icon" href="#">
										{{ mixins.icon('instagram') }}
									</a>
								</li>
							</ul>
						<!-- end list -->
					</div>
				<!-- end footer__in -->
				
				<!-- begin copyright -->
					<div class="copyright">
						&copy; 2017 Copyright - Spacewollf, LLC.
					</div>
				<!-- end copyright -->
			</div>
		<!-- end l-container -->
	</footer>
<!-- end footer -->