.icon-Vector Smart Object {
  width: 3.42em;
  height: 1em;
  fill: #0082FA;
}
.icon-angle-left {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-angle-right {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-billboard {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-check_sq {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1.36em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-checked_blue {
  width: 1.36em;
  height: 1em;
  fill: #0082F9;
}
.icon-checked_green {
  width: 1.36em;
  height: 1em;
  fill: #00BE9D;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-location {
  width: 0.93em;
  height: 1em;
  fill: #020203;
}
.icon-logo {
  width: 3.42em;
  height: 1em;
  fill: #0082FA;
}
.icon-monitor {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-mouse {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-mouse_down {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-pie {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
